---
- name: install default python3
  package:
    state: present
    name:
      - python3
      - python3-pip

- name: Fedora - install python39, python3-flake8
  package:
    state: present
    name:
      - python39
      - python3-flake8
  when: ansible_facts['distribution'] == "Fedora"

- name: RedHat 7 - install python-flake8
  package:
    state: present
    name: python-flake8
  when: >
    (ansible_facts['distribution'] == "CentOS" or ansible_facts['distribution'] == "RedHat")
    and
    (ansible_facts['distribution_major_version'] == "7")

- name: RedHat 8 - install python3-flake8
  package:
    state: present
    name: python-flake8
  when: >
    (ansible_facts['distribution'] == "CentOS" or ansible_facts['distribution'] == "RedHat")
    and
    (ansible_facts['distribution_major_version'] == "7")
