---
- name: remove unused packages
  package:
    state: absent
    name:
      - gnome-boxes
      - gnome-calendar
      - gnome-characters
      - gnome-contacts
      - gnome-font-viewer
      - gnome-getting-started-docs
      - gnome-initial-setup
      - gnome-maps
      - gnome-photos
      - gnome-weather

- name: install base packages
  ### Package notes ###
  # bat: cat(1) clone with wings
  # chromaprint-tools: Capture digital fingerprints of audio files
  # exfat-utils: FS formatting tools (exFAT)
  # f2fs-tools: FS formatting tools (Flash-Friendly File System)
  # gstreamer1-plugins-bad-nonfree: MPEG2 codec support
  # jpegoptim: Utility to optimize JPEG files
  # meld: Visual diff and merge tool
  # network-manager-applet: Network control / status applet for NetworkManager
  # remmina: Remote Desktop client
  # shotwell: Photo organizer and editor
  # poppler-utils: Command line utilities for converting PDF files
  # udftools: FS formatting tools (Universal Disk Format)
  package:
    state: present
    name:
      - ansible
      - asciidoctor
      - bash-completion
      - black
      - bpftrace
      - brasero
      - docker-compose
      - feh
      - fpaste
      - golang
      - golang-godoc
      - google-roboto-slab-fonts
      - btop
      - inkscape
      - network-manager-applet
      - overpass-fonts
      - overpass-mono-fonts
      - pandoc
      - pavucontrol
      - powerline-fonts
      - pulseaudio-utils
      - ranger
      - rpmconf
      - shotwell
      - strace
      - the_silver_searcher
      - typetype-molot-fonts
      - udftools
      - wireshark
